@model Shootr.Models.Propuesta

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Nombre)</h2>
<hr />
<div>
    <div class="col-md-7 text-center">
        <img class="img-responsive img-center" src="@Url.Content("~/PropuestasPictures/" + Model.URLFoto + ".jpg")" alt="Image" />
    </div>

    <div class="col-md-5 text-center">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Creador.Nombre)
            </dt>

            <dd>
                @Html.ActionLink("" + @Html.DisplayFor(model => model.Creador.UserName), "Details", "Usuario", new { id = Model.Creador.UserName }, new { @class = "btn btn-success" })

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lugar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lugar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripccion)
            </dd>

        </dl>

        @*mi nombre*@
        @{ var userName = System.Web.HttpContext.Current.User.Identity.Name; }


        @*Si soy el creador*@
        @{
            if (userName == Model.Creador.UserName)
            {
                <button type="button" class="btn btn-secondary">Usted es el creador!</button>
            }
            else if (Model.Postulaciones.Where(x => x.Usuario.UserName == userName).Count() > 0)
            {
                <button type="button" class="btn btn-secondary">Usted ya se postulo!</button>
            }
            else
            {
                @Html.ActionLink("Postularse", "Postularse", "Propuestas", new { id = Model.Id }, new { @class = "btn btn-success" })
            }
        }




    </div>



</div>

<div class="row">
 <hr />
</div>



