@model Shootr.Models.Propuesta

@{
    ViewBag.Title = "Index";
}

<h2>Postulaciones para @Html.DisplayFor(model => model.Nombre)</h2>


<table class="table">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Total trabajos
        </th>
        <th>
            Puntuacion promedio
        </th>
        <th />
    </tr>

@foreach (var item in Model.Postulaciones) {
    <tr>
        <td>
            @*@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.Usuario.UserName), "Details", "Usuario", new { username = item.Usuario.UserName }, new { @class = "btn btn-success" })*@

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.Usuario.UserName)Modal">
                @Html.DisplayFor(modelItem => item.Usuario.UserName)
            </button>

            <!-- Modal -->
            <div class="modal fade" id="@Html.DisplayFor(modelItem => item.Usuario.UserName)Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(modelItem => item.Usuario.UserName)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            DATOS DEL MODAL
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            @Html.ActionLink("Ver Perfil", "Details", "Usuario", new { username = item.Usuario.UserName }, new { @class = "btn btn-success" })

                        </div>
                    </div>
                </div>
            </div>

        </td>
        <td>
            TODO
        </td>
        <td>
            TODO
        </td>
        <td>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.Usuario.UserName)ModalAceptar">
                Aceptar
            </button>

            <!-- Modal -->
            <div class="modal fade" id="@Html.DisplayFor(modelItem => item.Usuario.UserName)ModalAceptar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Aceptar a @Html.DisplayFor(modelItem => item.Usuario.UserName)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ?Confirma que desea aceptar a @Html.DisplayFor(modelItem => item.Usuario.UserName)?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            @Html.ActionLink("Aceptar", "AceptarPostulacion", "Propuestas", new { id = Model.Id }, new { @class = "btn btn-success" })

                        </div>
                    </div>
                </div>
            </div>


           
        </td>
    </tr>
}

</table>
