@model Shootr.Models.SubirFotoModel

@{
    ViewBag.Title = "UsuarioEditar";
}

<h2>UsuarioEditar</h2>


@using (Html.BeginForm("AgregarFoto", "Usuario",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Agregar foto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
             <div class = "control-label col-md-2">Foto de perfil</div>
             <div class="col-md-10">
                 @Html.TextBoxFor(m => m.File, new { type = "file" })
                 @Html.ValidationMessageFor(m => m.File)
             </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="OK" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
